.Header {
  font-family: "Space Grotesk", sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px #5a7d7c solid;
}

.menubar {
  color: #e36940;
  font-size: 35px;
  margin-top: 20px;
  margin-left: 20px;
}

.title {
  color: #ecf2f4;
  margin-right: 10px;
  font-weight: bold;
}
